  /* ini: Preloader */
 
  #preloaderin {
    position:fixed;
    top:0 ;
    left:0;
    right:0;
    bottom:0;
    background-color:#2685fd; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloaderin .inner {
    position: absolute;
    top: 50% ; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50% ;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */

.LogoApp {
    background-image: url('./images/logo192.png');
    background-size: 36px;
}

.BoxLogoApp-login {    
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
    z-index: 10 !important;    
}

.LogoApp-login {
    background-image: url('./images/logo192.png');
    background-size: 48px;
    width: 48px;
    height: 48px;    
    margin-top: 0px;
    margin-bottom: 30px;
    position: absolute;
    z-index: 11 !important;
}
.app-title {
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align :center;
    font-size: 18px;
}

.page-title {
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align :center;
    font-size: 14px;
}

.page-description {
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align :center;
    font-size: 12px;
    
}

@media only screen 
    and (max-device-width: 280px)
    and (max-device-width: 380px)
    and (max-device-width: 375px)
    and (max-device-width: 390px)
    and (max-device-width: 400px)
    and (max-device-width: 480px)
    and (max-device-width: 600px)
    and (max-device-width: 1366px) {
    /* .menu { width:600px; } */
    .acesso-mvp-topo {
        width: 280px;
        height: 60px;
    }
    .page-title {
        width: 280px;
    }
}

.acesso-mvp-topo {
    font-family: "Montserrat", sans-serif;
    background: url(./images/grid.png), linear-gradient(to right, #2685fd, #5da6ff); /* rgba(0, 126, 174, .85*/
    border: 1px solid #cfcfcf;    
    color: #ffffff;
    padding: 20px 30px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 12px 15px 20px rgba(0,0,0,.16);
    position: relative;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align :center;

}

.page-header-bg-gradient {
    background: url(./images/grid.png), linear-gradient(to right, rgba(242, 242, 242, 0.85), rgba(223, 242, 255, 0.85));
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.boxBilhete{
    background: #f9f9f9;
    border: 1px solid #a3a2a2;
    margin: 5px 5px 5px 5px;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    vertical-align: middle;
    display: inline-block !important;
    text-align :center;
}

.boxBilheteVendido {
    background: #0bab40;
    border: 1px solid #a3a2a2;    
    color: #ffffff;
    margin: 5px 5px 5px 5px !important;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    text-align :center;
}

.styleTextoVendido {
    font-size: 14px;
    padding: 0px;
    margin: 0;
}

.styleTextoPendente {
    font-size: 14px;
    color: #fd2626;
    padding: 0px;
    margin: 0;
}

.conteinerBilhetes {
    display: inline-block !important;
    width: 110px !important;
    vertical-align: middle;
    cursor:pointer;
}

.conteiner {
    display: inline-block;
    vertical-align: middle;
}

.corFundoTela{
    background: rgb(199, 199, 199);
}
.UserExite{
    background: transparent;
    border: transparent;
}
.page-footer{
    background: #f9f9f9  !important;
}

[data-header_align="left"] nav.navigation .brand-logo {
	position: absolute;
	left: -3px;
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}
[data-header_align="left"] nav.navigation .navicon[data-target="slide-nav"] {
	float: right;
	margin-right: -8px;
}
[data-header_align="left"] nav.navigation .navicon.back-button {
	position: absolute;
	right: 95px;
}
[data-header_align="left"] nav .navicon.sidenav-trigger {
	margin-right: 18px;
}
[data-header_align="left"] nav.navigation .brand-logo {
	position: absolute;
	left: -3px;
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}
[data-header_align="left"] nav.navigation .navicon[data-target="slide-nav"] {
	float: right;
	margin-right: -8px;
}
[data-header_align="left"] nav.navigation .navicon.back-button {
	position: absolute;
	right: 95px;
}
[data-header_align="left"] nav .navicon.sidenav-trigger {
	margin-right: 18px;
}
table.colored.primary thead th{
    background: #313134 !important;
    color: #ffffff;
  }
  nav.navigation {
    /*background-color: #2685fd !important; #99c9ef*/
    background: url(./images/grid.png), linear-gradient(to right, #2685fd, #5da6ff); /*rgba(0, 126, 174, .85)*/
    position: relative;
    top: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
nav a.sidenav-trigger i, nav .navicon i {
    color: #ffffff;
}
.cardFiltro{
    background: #ffffff;
    padding: 19px;
    
}

.subpages.collection{
    margin-top: 10px;
}

.sec-tit:before, .sec-tit:after{
    background: gray;
}
.btn-novo{
    margin-top: 15px
}
.brown.lighten-2 {
    background-color: #4e4f4d !important;
}
.divResponsive{
    overflow-x: scroll !important;
}
.modal{
    display: none;
    position: fixed;
    width: 200px;
    height: 200px;
    left: 200px;
    top: 40px;
}
.waves-effect{
    position: unset !important;
    background-color: linear-gradient(to right, rgba(0, 126, 174, .85), rgba(0, 126, 174, .85)); /* #2685fd !important;*/
}

.waves-effect-btn{
    position: unset !important;
    
}

.ReactModal__Content--after-open{
    width: 90%;
}
.btnFechar-modal{
    display: block;
    background-color: #bed7f8 !important;
}
.btnSalvar-modal{
    display: block;
    background-color: #2685fd !important;
    margin-bottom: 10px;
}
.inputForm{
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%), 0 3px 1px -2px rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%);
}
.componenteDeUsuario{
    width: 100%;
    display: inline-table;
    height: 300px;
    background: rgb(240, 240, 240);
    margin-top: 20px;
    border: 1px solid #c7c7c7;
}
.buttonAdicionar {
    margin-top: 15px;
}

.valueMembro{
    width: 100%;
    padding: 4px 0px 0px 9px;
    color: white;
}

.grupoMembro{
    display: flex;
    margin: 0px 7px 0px;
    align-items: center;
}
.grupoMembro1 {
    width: 20%;
    background: gray;
    height: 29px;
    border-radius: 10px;;
}
.material-icons{
    font-size: 25px !important;
    margin-top: 8px;
}
.buttonMembro{
    border: 0px;
}
.grupoBotao{
    display: flex;
}
.btnVoltar{
    margin-left: 10px;
}

.btnVoltar button {
    background: #373a3c;
}

.divTamanho{
    width: 100% !important;
}
.rifaIdNone{
    display: none;
}
.input-field-user{
    background-color: rgba(230, 230, 230,0.9) !important;
}
.buttonAcao{
    display: flex;
    justify-content: space-around;
    width: 92%;
}
.collum1 {
    width: 20%;
}
.collum2 {
    width: 39%;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@import url("/src/css/variables.css");
@import url("/src/css/_general.css");
@import url("/src/css/_preloader.css");
@import url("/src/css/_ui.css");
@import url("/src/css/_datepicker.css");
@import url("/src/css/_timepicker.css");
@import url("/src/css/_carousel.css");
@import url("/src/css/_carousel-home-screen.css");
@import url("/src/css/_slider.css");
@import url("/src/css/_testimonials.css");
@import url("/src/css/_floating-action.css");
@import url("/src/css/_tooltips.css");
@import url("/src/css/_buttons.css");
@import url("/src/css/_badges.css");
@import url("/src/css/_blockquotes.css");
@import url("/src/css/_pagination.css");
@import url("/src/css/_spinners.css");
@import url("/src/css/_accordion.css");
@import url("/src/css/_waves.css");
@import url("/src/css/_modal.css");
@import url("/src/css/_topbar.css");
@import url("/src/css/_navigation.css");
@import url("/src/css/_navigation-centered.css");
@import url("/src/css/_navigation-dark.css");
@import url("/src/css/_navigation-colored.css");
@import url("/src/css/_subpages.css");
@import url("/src/css/_footer.css");
@import url("/src/css/_footer-light.css");
@import url("/src/css/_footer-colored.css");
@import url("/src/css/_footer-minimal.css");
@import url("/src/css/_dropdown.css");
@import url("/src/css/_collection.css");
@import url("/src/css/_progress.css");
@import url("/src/css/_backtotop.css");
@import url("/src/css/_cards.css");
@import url("/src/css/_tabs.css");
@import url("/src/css/_iconboxes.css");
@import url("/src/css/_chips.css");
@import url("/src/css/_form-range-sliders.css");
@import url("/src/css/_switches.css");
@import url("/src/css/_form-elements.css");
@import url("/src/css/_settings.css");
@import url("/src/css/_parallax.css");
@import url("/src/css/_chat.css");
@import url("/src/css/_calendar.css");
@import url("/src/css/_events.css");
@import url("/src/css/_mailbox.css");
@import url("/src/css/_profile.css");
@import url("/src/css/_timeline.css");
@import url("/src/css/_portfolio.css");
@import url("/src/css/_blogs.css");
@import url("/src/css/_products.css");
@import url("/src/css/_login.css");
@import url("/src/css/_welcome.css");
@import url("/src/css/_error.css");
@import url("/src/css/_search.css");
@import url("/src/css/_pricing.css");
@import url("/src/css/_invoice.css");
@import url("/src/css/_notifications.css");
@import url("/src/css/_profile-edit.css");
@import url("/src/css/_app-settings.css");
@import url("/src/css/_clients.css");
@import url("/src/css/_fixed-footer-menu.css");
@import url("/src/css/_perfect-scrollbar.css");
@import url("/src/css/_tables.css");
@import url("/src/css/_contactus.css");
@import url("/src/css/_fancybox.css");
@import url("/src/css/_image-filter.css");
@import url("/src/css/_shadow.css");
@import url("/src/css/_team.css");
@import url("/src/css/_charts.css");
@import url("/src/css/_activity.css");
@import url("/src/css/_site-darkmode.css");
@import url("/src/css/preloader.css");
@import url("/src/css/settings.css");
@import url("/src/css/variables.css");